.pic{
    position: absolute;
    z-index: 1;

    margin: 150px;

    height: 300px;
    width: 300px;

    border: 15px solid lightgrey;
}

.square1{
    position: absolute;
    z-index: 3;

    margin: 150px;
    height: 300px;
    width: 300px;
    top: 20px;

    border: 15px solid lightpink;
    border-bottom: 0;
    border-top: 0;

    transform: rotate(45deg);
}

.square2{
    position: absolute;
    z-index: 0;

    margin: 150px;
    height: 300px;
    width: 300px;
    top: 10px;

    border: 15px solid lightpink;
    border-left: 0;
    border-right: 0;

    transform: rotate(45deg);
}